* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main1 {
    background-image: url(../img/bg_1.jpg);
    
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    
}
.div1{
    width: 100%;
    height: 100%;
}
.border {
    border: 5px solid black ;
}

.img1 {
    width: 100%;
    height: 100%;
}

.para1 {
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    font-weight: bold;
}

.span1 {
    color: black;
    font-weight: bold;
}

.div2 {
    width: 45px;
    height: 45px;
}

.para2 {
    font-size: 18px;
    font-weight: bold;
}
.div3{
    background-color: #ffff;
}
@media(max-width:992px){
    .div3{
        background: none;
    }
}
@media(min-width:992px){
    .hed1{
        font-size: 55px ;
        font-weight: bolder;
    }
}
.para4{
    color: #B1B1B2;
    text-align: justify;
}
.btn1{
    background-color: #FD4C82;
    color: #ffff;
    font-weight: bold;
    border: none;
}
.div4{
    display: flex;
    gap: 15px;
}
.para5{
    font-size: 20px;
    color: black;
}
.btn2{
    background-color: #FD4C82;
    border: none;
    border-radius: 10px;
    color: #ffff;
    width: 35%;
    height: 55px;
}
@media(max-width:992px){
    .btn2{
        width: 60%;
    }
}
.btn3{
    background-color: #91C235;
    border: none;
    border-radius: 10px;
    color: #ffff;
    width: 35%;
    height: 55px;
}
@media(max-width:992px){
    .btn3{
        width: 60%;
        margin-top: 10px;
    }
}
.div5{
    width: 95px;
    /* width: 30%; */
    height: 80px;
    background-color: #F0F0F0;
    /* border-radius: 50%; */
    border-radius: 50%;
    padding: 15px;
}
@media(max-width:320px){
    .div5{
        width: 120px;
    }
}
.img2{
    width: 100%;
    height: 100%;
}
.para6{
    color: #A9A9A9;
}
.div6{
    width: 100%;
    height: 100%;
    padding: 35px;
    padding-right: 10px;
    background-color: #ffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px  30px 10px  #E3E2E5;
    position: relative;
    top: -80px;
}
.hed2{
    color: black;
}
.div6:hover{
    background-color: #FD4C82;
    transition: 0.5s;
}
.div6:hover .para6{
    color: #ffff;

}
.div6:hover .hed2{
    color: #ffff;
    
}