* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main1 {
    background-image: url(../img/bg_1.jpg);

    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;

}

.div1 {
    width: 100%;
    height: 100%;
}

.border {
    border: 5px solid black;
}

.img1 {
    width: 100%;
    height: 100%;
}

.para1 {
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    font-weight: bold;
}

.span1 {
    color: black;
    font-weight: bold;
}

.div2 {
    width: 45px;
    height: 45px;
}

.para2 {
    font-size: 18px;
    font-weight: bold;
}

.para3 {
    font-size: 15px;
    color: #FD4C82;
}

.font-color-pink {
    color: #FD4C82 !important;
}

.font-color-black {
    color: black !important;
}

.font-color-gray {
    color: #999999;
}

.hover-pink:hover {
    color: #FD4C82 !important;
    transition: 0.5s;
}

.hover-btn1:hover {
    background-color: #ffff !important;
    border: 1px solid #FD4C82;
    color: #FD4C82;
    transition: 0.5s;
}

.hover-btn2:hover {
    background-color: #ffff !important;
    border: 1px solid #FD4C82;
    color: #FD4C82;
    transition: 0.5s;
}

.hover-btn3:hover {
    background-color: #ffff !important;
    border: 1px solid #91C235;
    color: #91C235;
    transition: 0.5s;
}

.div3 {
    background-color: #ffff;
}

@media(max-width:992px) {
    .div3 {
        background: none;
    }
}

@media(min-width:992px) {
    .hed1 {
        font-size: 55px;
        font-weight: bolder;
    }
}

.para4 {
    color: #B1B1B2;
    text-align: justify;
}

.btn1 {
    background-color: #FD4C82;
    color: #ffff;
    font-weight: bold;
    border: 1px solid #FD4C82;
}

.div4 {
    display: flex;
    gap: 15px;
}

.para5 {
    font-size: 20px;
    color: black;
}

.btn2 {
    background-color: #FD4C82;
    border: 1px solid #FD4C82;
    border-radius: 10px;
    color: #ffff;
    width: 35%;
    height: 55px;
}

@media(max-width:992px) {
    .btn2 {
        width: 60%;
    }
}

.btn3 {
    background-color: #91C235;
    border: 1px solid #91C235;
    border-radius: 10px;
    color: #ffff;
    width: 35%;
    height: 55px;
}

@media(max-width:992px) {
    .btn3 {
        width: 60%;
        margin-top: 10px;
    }
}

.div5 {
    width: 95px;
    /* width: 30%; */
    height: 80px;
    background-color: #F0F0F0;
    /* border-radius: 50%; */
    border-radius: 50%;
    padding: 15px;
}

@media(max-width:320px) {
    .div5 {
        width: 120px;
    }
}

.img2 {
    width: 100%;
    height: 100%;
}

.para6 {
    color: #A9A9A9;
}

.div6 {
    width: 100%;
    height: 100%;
    padding: 35px;
    padding-right: 10px;
    background-color: #ffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 10px #E3E2E5;
    position: relative;
    top: -80px;
}

.hed2 {
    color: black;
}

.div6:hover {
    background-color: #FD4C82;
    transition: 0.5s;
}

.div6:hover .para6 {
    color: #ffff;

}

.div6:hover .hed2 {
    color: #ffff;

}

.img3 {
    width: 100%;
    height: 100%;
}

.hed3 {
    font-weight: bolder;
}

.div7 {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #FD4C82;
}

.img4 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.para7 {
    font-weight: bold;
    font-size: 17px;
}

.div8 {
    display: flex;
    align-items: center;
}

.main2 {
    background-color: #F8F9FA;
}

.main3 {
    background-color: #F8F9FA;
}

.bold {
    font-weight: bold;
}

.div9 {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.input1 {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 15px;
}
.btn4{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #91C235;
    color: #ffff;
    border: none;
}
.main5{
    background-color: #F8F9FA;
}
.img5{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.div12{
    border: 10px solid white;
    position: relative;
    top: 90px;
    width: 190px;
    height:190px;
    border-radius: 50%;
}
.div14:hover{
    background-color: #91C235;
    transition: 0.5s;
}
.div14:hover .para8{
    color: #ffff !important;
}
.div14:hover .para9{
    color: #ffff !important;
}.div14:hover .div17{
    background-color: #ffff;
    color: #91C235;
}
.div14{
    background-color: #ffff;
}
.div17{
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    background-color: #FD4C82;
    border-radius: 5px;
}
.div16{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.para8{
    font-size: 22px;
}
.para9{
    font-size: 15px;
    font-weight: bold;
}
.main6{
    background-image: url(../img/img6.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.div18{
    background-color: #f66993bc;
    opacity: 1;
}
.div19{
    display: flex;
    justify-content: center;
}
.div20{
    display: flex;
    background-color: #ffff;
    border-radius: 5px;
}
@media(min-width:380px){
    .div20{
        padding: 1.5rem;
    }
}
@media(max-width:380px){
    .div20{
        padding: 3.5rem;
    }
}
.img6{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.div21{
    width: 100px;
    height:100px;
    border-radius: 50%;
}
@media(max-width:500px){
    .carousel-control-prev-icon{
        background-color: violet;
    }
}
@media(max-width:500px){
    .carousel-control-next-icon{
        background-color: violet;
    }
}
.para10{
    width: 250px;
}
@media(max-width:400px){
    .para10{
        width: 190px;
    }
}
@media(min-width:300px){
    .para10{
        font-size: 1.25rem;
    }
}
.white-color{
    color: #ffff;
}
.main7{
    background-color: #F8F9FA;
}
.img7{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.div22{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
}
.div23{
    background-color: #ffff;
}
.div24{
    display: flex;
    justify-content: center;
}
.para11{
    color: #CECECE;
    font-size: 30px;
}
.para12{
    color: #FD4C82;
    font-weight: bold;
    font-size: 50px;
}
.para13{
    color: #A5A5A5;
    font-size: 13px;
}
.div25{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}
.para14{
    color: #FD4C82;
    font-size: 30px;
}
.div27{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}
.btn5{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #FD4C82;
    color: #ffff;
    border: none;
}
.btn5:hover{
    background-color: #ffff;
    border: 1px solid #FD4C82;
    color: #FD4C82;
    transition: 0.5s;
}
.main8{
    background-color: #F8F9FA;
    border: 1px solid black;
}
.img8{
    width: 100%;
    height: 100%;
}
.para15{
    width: 80px;
    /* width: 40px; */
}
.div28{
    font-size: 12px;
    font-weight: bold;
}
.para16{
    font-size: 17px;
    font-weight: bold;
}
.para17{
    font-size: 17px;
    font-weight: bold;
    color: #999999;
}
.div29{
    font-size: 12px;
    font-weight: bold;
    margin-left: 45px;
}
.btn6{
    background-color: #FD4C82;
    color: #ffff;
    border-radius: 5px;
    padding: 7px;
    width: 120px;
    border: none;
}
.btn6:hover{
    background-color: #ffff;
    border: 1px solid #FD4C82;
    color: #FD4C82;
    transition: 0.5s;
}
.div30{
    background-color: #ffff;
}